<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.primary.mdiary"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="22" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/setup_name"
        android:theme="@style/AppTheme" >
        <provider
            android:name=".mDiaryContentProvider"
            android:authorities="com.primary.mdiary.mdiarycontentprovider" >
        </provider>

        <activity
            android:name=".Welcome"
            android:label="@string/soft_name" >
            
             <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
        </activity>
        <activity
            android:name=".DiariesList"
            android:label="@string/soft_name" >
        </activity>
        <activity
            android:name=".DiaryEditor"
            android:label="@string/soft_name"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >

            
            <intent-filter >
				<action android:name="com.primary.mdiary.DiaryEditor.EDIT_DIARY" />
				<category
					android:name="android.intent.category.DEFAULT" />
				<data
					android:mimeType="vnd.android.cursor.item/vnd.google.diary" />
			</intent-filter>


			<intent-filter >
				<action android:name="com.primary.mdiary.DiaryEditor.action.INSERT_DIARY" />
				<category
					android:name="android.intent.category.DEFAULT" />
				<data
					android:mimeType="vnd.android.cursor.dir/vnd.google.diary" />
			</intent-filter>
            
            
        </activity>

    </application>

</manifest>
